<%- include("partials/header.ejs") %>
<div class="container my-5">
  <div class="p-5 text-center bg-body-secondary rounded-3">
    <h1 class="text-body-emphasis">Books I've Read</h1>
    <p class="lead">
      Short reviews and rating I do for the books I've read. Constantly updating as I read more.
    </p>
  </div>
</div>
<div class="container my-3">
    <div class="row row-cols-2 align-items-top justify-content-between">
        <div class="col-lg-6 col-xl-4">
            <h4>Number of entries: 24</h4>
        </div>
        <div class="col-lg-6 col-xl-4">
            <form action="/sort-entries" method="POST" id="dropdown">
                <div type="submit" class="form-select-lg py-0" name="orderBy" id="sort-dropdow">
                    <select name="#" id="#">
                        <option disabled selected>Order by</option>
                        <option value="Date">Date</option>
                        <option value="Rating">Rating</option>
                    </select>
                </div>
            </form>
        </div>
    </div>   
</div>
<div class="container my-3">
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="card mb-3">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="images/book-placeholder.jpg" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <a href="#"><h5 class="card-title">空ろの箱と零のマリア</h5></a>
                      <h6 class="">⭐⭐⭐⭐⭐</h6>
                      <h6 class="card-subtitle book-genre">Action, Drama, Horror, Mystery, Romance, Supernatural, Suspense</h6>
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="card mb-3">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="images/book-placeholder.jpg" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="card mb-3">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="images/book-placeholder.jpg" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
    
</div>

<%- include("partials/footer.ejs") %>