<%- include("partials/header.ejs") %>
<div class="container my-5">
    <div class="p-5 text-center bg-body-secondary rounded-3">
      <h1 class="text-body-emphasis">Add New Entry</h1>
      <p class="lead">
        First search a book either by title or by ISBN, then write a review for it.
      </p>
    </div>
</div>
<% if (locals.activateAlert) { %>
  <div id="liveAlertPlaceholder"></div>
<% } %>

<div class="container my-5">
    <nav>
        <div class="nav nav-tabs justify-content-around" id="nav-tab" role="tablist">
          <button class="nav-link active" id="advanced-search" data-bs-toggle="tab" data-bs-target="#advanced-search-tab" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Advanced Search</button>
          <button class="nav-link" id="isbn-search" data-bs-toggle="tab" data-bs-target="#isbn-search-tab" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Identifier</button>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="advanced-search-tab" role="tabpanel" aria-labelledby="advanced-search" tabindex="0">
            <%- include("partials/advanced-search.ejs") %>
        </div>
        <div class="tab-pane fade" id="isbn-search-tab" role="tabpanel" aria-labelledby="isbn-search" tabindex="0">
            <%- include("partials/isbn-search.ejs") %>
        </div>
    </div>
</div>

<%- include("partials/footer.ejs") %>